.app-logo, .app-logo p {
  margin: 0;
  font-weight: bold;
  line-height: 100%;
  text-decoration: none;
}

.app-logo {
  padding: 2px;
  width: auto !important;
  border: solid 2px #000;
  display: inline-block !important;
}