.auth-box-forgot-pass {
  display: block;
  margin: 0;
  width: 100%;
  max-width: 500px;
  margin-bottom: 100px;

  a {
    text-align: center;
    width: 100%;
    line-height: 100%;
    display: block;
    margin: 24px 0;
  }

  hr {
    margin: 24px 0;
  }
}